@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  width: 100%;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

body {
  color: lime;
  background-color: rgb(32, 32, 32);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sound-disabled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M10 7.22056L6.60282 10.0001H3V14.0001H6.60282L10 16.7796V7.22056ZM5.88889 16.0001H2C1.44772 16.0001 1 15.5524 1 15.0001V9.00007C1 8.44778 1.44772 8.00007 2 8.00007H5.88889L11.1834 3.66821C11.3971 3.49335 11.7121 3.52485 11.887 3.73857C11.9601 3.8279 12 3.93977 12 4.05519V19.9449C12 20.2211 11.7761 20.4449 11.5 20.4449C11.3846 20.4449 11.2727 20.405 11.1834 20.3319L5.88889 16.0001ZM20.4142 12.0001L23.9497 15.5356L22.5355 16.9498L19 13.4143L15.4645 16.9498L14.0503 15.5356L17.5858 12.0001L14.0503 8.46454L15.4645 7.05032L19 10.5859L22.5355 7.05032L23.9497 8.46454L20.4142 12.0001Z'%3E%3C/path%3E%3C/svg%3E");
}

.sound-enabled {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24' fill='currentColor'%3E%3Cpath d='M6.60282 10.0001L10 7.22056V16.7796L6.60282 14.0001H3V10.0001H6.60282ZM2 16.0001H5.88889L11.1834 20.3319C11.2727 20.405 11.3846 20.4449 11.5 20.4449C11.7761 20.4449 12 20.2211 12 19.9449V4.05519C12 3.93977 11.9601 3.8279 11.887 3.73857C11.7121 3.52485 11.3971 3.49335 11.1834 3.66821L5.88889 8.00007H2C1.44772 8.00007 1 8.44778 1 9.00007V15.0001C1 15.5524 1.44772 16.0001 2 16.0001ZM23 12C23 15.292 21.5539 18.2463 19.2622 20.2622L17.8445 18.8444C19.7758 17.1937 21 14.7398 21 12C21 9.26016 19.7758 6.80629 17.8445 5.15557L19.2622 3.73779C21.5539 5.75368 23 8.70795 23 12ZM18 12C18 10.0883 17.106 8.38548 15.7133 7.28673L14.2842 8.71584C15.3213 9.43855 16 10.64 16 12C16 13.36 15.3213 14.5614 14.2842 15.2841L15.7133 16.7132C17.106 15.6145 18 13.9116 18 12Z'%3E%3C/path%3E%3C/svg%3E");
}

#game {
  display: none;
  width: 100%;
  height: 100%;
}

#canvas {
  overflow: hidden;
  position: absolute;
  border: 1px solid green;
  background-color: black;
  z-index: 1;
}

#loading {
  width: 100%;
  height: 100%;
  display: none;
}

#menu {
  width: 300px;
  height: 150px;
  background-color: rgb(43, 42, 42);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 10%;
}

#player-data {
  pointer-events: none;
  background-color: rgba(43, 42, 42, 0.5);
  border: 1px solid lime;
  border-radius: 8px;
  color: white;
  top: 0;
  margin: 1rem;
  padding: 1rem;
  left: calc(50% - 150px);
  width: 300px;
  text-align: center;
  overflow: hidden;
  position: fixed;
  z-index: 10;
}

#leaderboard {
  pointer-events: none;
  background-color: rgba(43, 42, 42, 0.5);
  border: 1px solid lime;
  border-radius: 8px;
  color: white;
  top: 0;
  margin: 1rem;
  padding: 1rem;
  max-width: 500px;
  min-width: 100px;
  max-height: 200px;
  overflow: hidden;
  position: fixed;
  z-index: 10;
}

#leaderboard-title {
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

#player-data > #points {
  display: flex;
  justify-content: center;
}

#player-data > #player-name {
  font-size: 30px;
}

#player-name-floating {
  position: absolute;
}

#deathscreen {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 10;
  position: fixed;
  color: green;
}

#deathscreen > div {
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: rgb(44, 44, 44);
  border: 1px solid lime;
  margin: auto;
  width: 100px;
  height: 100px;
}
